
@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;600&display=swap');

h1 {
  font-family: 'Rozha One', serif;
  color: #da9031;
}

h2, h3, h5, h6 {
  font-family: 'Rozha One', serif;
  color: #ffffff;
}

body {
  color: #ffffff;
}